<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <th:block th:include="/article/header.html"/>
        <main id="board">
            <section class="list">
                <nav>
                    <h1>글목록</h1>
                    <form th:action="@{/article/list}" class="search">
                        <select name="type">
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="title_content">제목+내용</option>
                            <option value="writer">글쓴이</option>
                        </select>
                        <input type="text" name="keyword" placeholder="제목 키워드, 글쓴이 검색">
                        <input type="submit" value="검색">
                    </form>
                </nav>

                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>날짜</th>
                        <th>조회</th>
                    </tr>
                    <tr th:each="article, i:${pageResponseDTO.getDtoList()}">
                        <td>[[${pageResponseDTO.startNo - i.index}]]</td>
                        <td><a th:href="@{/article/view}">[[${article.title}]]&#91;[[${article.comment}]]&#93;</a></td>
                        <td>[[${article.nick}]]</td>
                        <td>[[${article.rdate}]]</td>
                        <td>[[${article.hit}]]</td>
                    </tr>
                </table>

                <div class="page">

                    <th:block th:if="${pageResponseDTO.prev}">
                        <a th:if="${pageResponseDTO.keyword == null}" th:href="@{/article/list(pg=${pageResponseDTO.start-1})}" class="prev">이전</a>
                        <a th:if="${pageResponseDTO.keyword != null}" th:href="@{/article/list(pg=${pageResponseDTO.start-1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}" class="prev">이전</a>
                    </th:block>

                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                        <a th:if="${pageResponseDTO.keyword == null}"
                           th:href="@{/article/list(pg=${num})}"
                           th:class="${num == pageResponseDTO.pg} ? 'current':'num'">[[${num}]]</a>

                        <a th:if="${pageResponseDTO.keyword != null}"
                           th:href="@{/article/list(pg=${num}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}"
                           th:class="${num == pageResponseDTO.pg} ? 'current':'num'">[[${num}]]</a>
                    </th:block>

                    <th:block th:if="${pageResponseDTO.next}">
                        <a th:if="${pageResponseDTO.keyword == null}" th:href="@{/article/list(pg=${pageResponseDTO.end+1})}" class="next">다음</a>
                        <a th:if="${pageResponseDTO.keyword != null}" th:href="@{/article/list(pg=${pageResponseDTO.end+1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}" class="next">다음</a>
                    </th:block>

                </div>

                <a th:href="@{/article/write}" class="btn btnWrite">글쓰기</a>

            </section>
        </main>
        <th:block th:include="/article/footer.html"/>
    </div>    
</body>
</html>