<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2024/09/11
        이름 : 박연화
        내용 : 8장 스프링 시큐리티 실습하기
    -->
</head>
<body>
    <h3>ch08. Spring Security</h3>

    <h4>인증테스트</h4>
    <th:block sec:authorize="isAnonymous()">
        <a th:href="@{/user/login}">로그인</a>
        <a th:href="@{/user/register}">회원가입</a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <p>
            [[${#authentication.principal.user.name}]]
        </p>
        <a th:href="@{/user/logout}">로그아웃</a>
    </th:block>
    <h4>인가테스트</h4>
    <a th:href="@{/admin}">admin</a>
    <a th:href="@{/manager}">manager</a>
    <a th:href="@{/staff}">staff</a>
    <a th:href="@{/test}">test</a>

</body>
</html>